<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>TechShop</h1>
        <a href="/">TechShop</a>|<a href="/ejemplo2">Mis Autos</a>
        <h2>Su tienda en línea</h2>
        <p>El mejor recurso para compras en línea de calidad mundial...</p>
    </body>
</html>
