<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Techshop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>

        <section th:fragment="tabsCategorias">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/pruebas/listado">[[#{pruebas.todas}]]</a>
                </li>
                <li th:each="c : ${categorias}" class="nav-item">
                    <a class="nav-link" th:href="@{/pruebas/listado/}+${c.idCategoria}">[[${c.descripcion}]]</a>
                </li>
            </ul>
        </section>

        <section th:fragment="tarjetas">
            <div class="row row-cols-4 mb-10">
                <div th:each="p : ${productos}" class="card">
                    <figure>
                        <div class="d-flex justify-content-center">
                            <img th:src="${p.rutaImagen}" alt="..." height="200"/>
                        </div>
                        <figcaption class="d-flex justify-content-evenly">
                            <span>¢[[${p.precio}]]</span>
                            <span>[[${p.existencias}]]</span>
                            <form>
                                <input type="hidden" th:value="${p.idProducto}" name="idProducto"/>
                                <input type="hidden" th:value="${p.existencias}" name="existencias"/>
                                <button type="button" class="btn btn-light" onclic="addCart(this.form)">
                                    <i class="fas fa-cart-arrow-down"></i>
                                </button>
                            </form>
                        </figcaption>
                    </figure>
                    <div class="card-header text-center">
                        <h5> [[${p.descripcion}]]</h5>
                    </div>
                    <div class="card-body">
                        <p>[[${p.detalle}]]</p>
                    </div>
                </div>
            </div>

        </section>
        
        <section th:fragment="filtros">
            <div class="row row-cols-4 py-2">
                <form method="post" th:action="@{/pruebas/query1}" class="was-validated">
                    <div class="card p-2">
                        <div class="card-header bg-primary text-white text-center">
                            <h5>[[#{pruebas.ampliadas}]]</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label>[[#{pruebas.precio.inferior}]]</label>
                                <input type="number" 
                                       class="form-control" 
                                       th:value="${precioInf}" 
                                       name="precioInf" 
                                       min="0" required="true"/>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label>[[#{pruebas.precio.superior}]]</label>
                                <input type="number" 
                                       class="form-control" 
                                       th:value="${precioSup}" 
                                       name="precioSup" 
                                       min="0" required="true"/>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit"
                                class="btn btn-primary">
                                        <i class="fa-solid fa-magnifying-glass"></i> [[#{pruebas.ampliadas}]]
                                
                            </button>
                        </div>
                    </div>
                    
                </form>
                
                <form method="post" th:action="@{/pruebas/query2}" class="was-validated">
                    <div class="card p-2">
                        <div class="card-header bg-info text-white text-center">
                            <h5>[[#{pruebas.jpql}]]</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label>[[#{pruebas.precio.inferior}]]</label>
                                <input type="number" 
                                       class="form-control" 
                                       th:value="${precioInf}" 
                                       name="precioInf" 
                                       min="0" required="true"/>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label>[[#{pruebas.precio.superior}]]</label>
                                <input type="number" 
                                       class="form-control" 
                                       th:value="${precioSup}" 
                                       name="precioSup" 
                                       min="0" required="true"/>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit"
                                class="btn btn-info text-white">
                                        <i class="fa-solid fa-magnifying-glass"></i> [[#{pruebas.jpql}]]
                                
                            </button>
                        </div>
                    </div>
                    
                </form>
                
                <form method="post" th:action="@{/pruebas/query3}" class="was-validated">
                    <div class="card p-2">
                        <div class="card-header bg-success text-white text-center">
                            <h5>[[#{pruebas.nativo}]]</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label>[[#{pruebas.precio.inferior}]]</label>
                                <input type="number" 
                                       class="form-control" 
                                       th:value="${precioInf}" 
                                       name="precioInf" 
                                       min="0" required="true"/>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label>[[#{pruebas.precio.superior}]]</label>
                                <input type="number" 
                                       class="form-control" 
                                       th:value="${precioSup}" 
                                       name="precioSup" 
                                       min="0" required="true"/>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit"
                                class="btn btn-success text-white">
                                        <i class="fa-solid fa-magnifying-glass"></i> [[#{pruebas.nativo}]]
                                
                            </button>
                        </div>
                    </div>
                    
                </form>
                
                <form method="post" th:action="@{/pruebas/query4}" class="was-validated">
                    <div class="card p-2">
                        <div class="card-header bg-success text-white text-center">
                            <h5>[[#{pruebas.practica4}]]</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label>[[#{pruebas.descripcion}]]</label>
                                <input type="String" 
                                       class="form-control" 
                                       th:value="${descripcion}" 
                                       name="descripcion" 
                                       required="true"/>
                            </div>
                        </div>
                        
                        <div class="card-footer text-center">
                            <button type="submit"
                                class="btn btn-success text-white">
                                        <i class="fa-solid fa-magnifying-glass"></i> [[#{pruebas.practica4}]]
                                
                            </button>
                        </div>
                    </div>
                    
                </form>
            </div>
            
            
        </section>

    </body>
</html>
